# Small Python exercises
The purpose of theese exercises is just to do a small recap of some of the skills you have acquired

# Variables & types

### Create a variable named my_integer with an integer attached

### Now print that vaiable

10

### Create a variable named my_string with an string attached

### Now print that vaiable

Hello World!

### How do you increment my_integer with 10

### Now print my_integer

20

### How do you concatenate and print my_string with the following :
    other_string = "This is another string"

In [7]:
other_string = "This is another string"

Hello World! This is another string

### Now split my_string into a list called: new_list and then print it

['Hello', 'World!', 'This', 'is', 'another', 'string']

** Create the following variables:**

    my_name = "Peter Møller Nielse"  # don't know who that is
    my_height = 110  # My height in cm

** Create a new string variable called: new_string with the following sentece: **

    "Hi, my name is Peter Møller Nielsen and I'm 110cm tall"
    
** Then print new_string **

Hi, my name is Peter Møller Nielse and I'm 110cm tall

## Lists

In [13]:
list_a = [1,2,3,4,5]

### Print the third element in list_a

3

### Print a new list container the first 3 elements

[1, 2, 3]

### Print a new list containing the last 3 element

[3, 4, 5]
[3, 4, 5]

### print a new list containing the items 2,3,4 from list_a

[2, 3, 4]

### Find the index value using the index() for the name "Bell" in the follwing list:
    crazy_list = ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis',
    'Miller', 'Wilson', 'Moore', 'Taylor', 'Anderson', 'Thomas', 'Jackson',
    'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez',
    'Robinson', 'Clark', 'Rodriguez', 'Lewis', 'Lee', 'Walker', 'Hall',
    'Allen', 'Young', 'Hernandez', 'King', 'Wright', 'Lopez', 'Hill',
    'Scott', 'Green', 'Adams', 'Baker', 'Gonzalez', 'Nelson', 'Carter',
    'Mitchell', 'Perez', 'Roberts', 'Turner', 'Phillips', 'Campbell',
    'Parker', 'Evans', 'Edwards', 'Collins', 'Stewart', 'Sanchez', 'Morris',
    'Rogers', 'Reed', 'Cook', 'Morgan', 'Bell']

In [19]:
crazy_list = ['Smith', 'Johnson', 'Williams', 'Jones', 'Brown', 'Davis',
'Miller', 'Wilson', 'Moore', 'Taylor', 'Anderson', 'Thomas', 'Jackson',
'White', 'Harris', 'Martin', 'Thompson', 'Garcia', 'Martinez',
'Robinson', 'Clark', 'Rodriguez', 'Lewis', 'Lee', 'Walker', 'Hall',
'Allen', 'Young', 'Hernandez', 'King', 'Wright', 'Lopez', 'Hill',
'Scott', 'Green', 'Adams', 'Baker', 'Gonzalez', 'Nelson', 'Carter',
'Mitchell', 'Perez', 'Roberts', 'Turner', 'Phillips', 'Campbell',
'Parker', 'Evans', 'Edwards', 'Collins', 'Stewart', 'Sanchez', 'Morris',
'Rogers', 'Reed', 'Cook', 'Morgan', 'Bell']

57

### Now print "Bell" from the crazy_list using it's index value

'Bell'

# For loops

## Create a for loop that prints each element in the following list:
    list_b = ["I","am","a","champion","programmer"]

In [22]:
list_b = ["I","am","a","champion","programmer"]

I
am
a
champion
programmer

## Now print each item and the items index value from list_b

for i in range(len(list_b)):
    print(i, list_b[i])

0 I
1 am
2 a
3 champion
4 programmer

## Now using for loop try to find the index value of the name "Evans" in the crazy_list
### Hint:
    use an if statement to check if a name is "Evans"

47

### Now check if the idex is right by printing it from the list.

'Evans'

# Good job!